.b-icon-field {
    position: relative;
    display: inline-flex;
    width: 100%;
}

/* Іконки всередині (все, що не є інпутом) */
.b-icon-field > :not(.b-input-text) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    pointer-events: none;
    color: var(--b-control-placeholder);
}

/* --- LOGIC: LEFT --- */
.b-icon-field > :first-child:not(.b-input-text) {
    left: var(--b-space-3);
}
/* Якщо ПЕРЕД інпутом є іконка */
.b-icon-field > :not(.b-input-text) + .b-input-text {
    --b-input-text-padding-x-left: calc(var(--b-font-size-md) + var(--b-space-4));
}

/* --- LOGIC: RIGHT --- */
.b-icon-field > :last-child:not(.b-input-text) {
    right: var(--b-space-3);
}
/* Якщо ПІСЛЯ інпута є іконка */
.b-icon-field > .b-input-text:not(:last-child) {
    --b-input-text-padding-x-right: calc(var(--b-font-size-md) + var(--b-space-4));
}