.b-avatar {
    /* General */
    --b-avatar-background:    var(--b-secondary-solid-background);
    --b-avatar-color:         var(--b-primary-subtle-text);
    --b-avatar-border-radius: var(--b-radius-interactive);

    /* Small */
    --b-avatar-small-width:     var(--b-size-xs);
    --b-avatar-small-height:    var(--b-size-xs);
    --b-avatar-small-font-size: var(--b-font-size-sm);
    --b-avatar-small-icon-size: var(--b-space-3);

    /* Medium */
    --b-avatar-medium-width:     var(--b-size-sm);
    --b-avatar-medium-height:    var(--b-size-sm);
    --b-avatar-medium-font-size: var(--b-font-size-md);
    --b-avatar-medium-icon-size: var(--b-space-4);

    /* Large */
    --b-avatar-large-width:     var(--b-size-md);
    --b-avatar-large-height:    var(--b-size-md);
    --b-avatar-large-font-size: var(--b-font-size-lg);
    --b-avatar-large-icon-size: var(--b-space-5);

    /* Extra Large */
    --b-avatar-xlarge-width:     var(--b-size-lg);
    --b-avatar-xlarge-height:    var(--b-size-lg);
    --b-avatar-xlarge-font-size: var(--b-font-size-xl);
    --b-avatar-xlarge-icon-size: var(--b-space-6);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--b-avatar-width);
    height: var(--b-avatar-height);
    background: var(--b-avatar-background);
    color: var(--b-avatar-color);
    border-radius: var(--b-avatar-border-radius);
}

.b-avatar__label {
    font-size: var(--b-avatar-font-size);
}

.b-avatar__icon {
    width: var(--b-avatar-icon-size);
    height: var(--b-avatar-icon-size);
}

.b-avatar__image {

}

/* Size */
.b-avatar--size-small {
    --b-avatar-width: var(--b-avatar-small-width);
    --b-avatar-height: var(--b-avatar-small-height);
    --b-avatar-font-size: var(--b-avatar-small-font-size);
    --b-avatar-icon-size: var(--b-avatar-small-icon-size);
}

.b-avatar--size-medium {
    --b-avatar-width: var(--b-avatar-medium-width);
    --b-avatar-height: var(--b-avatar-medium-height);
    --b-avatar-font-size: var(--b-avatar-medium-font-size);
    --b-avatar-icon-size: var(--b-avatar-medium-icon-size);
}

.b-avatar--size-large {
    --b-avatar-width: var(--b-avatar-large-width);
    --b-avatar-height: var(--b-avatar-large-height);
    --b-avatar-font-size: var(--b-avatar-large-font-size);
    --b-avatar-icon-size: var(--b-avatar-large-icon-size);
}

.b-avatar--size-xlarge {
    --b-avatar-width: var(--b-avatar-xlarge-width);
    --b-avatar-height: var(--b-avatar-xlarge-height);
    --b-avatar-font-size: var(--b-avatar-xlarge-font-size);
    --b-avatar-icon-size: var(--b-avatar-xlarge-icon-size);
}

/* Shape */
.b-avatar--shape-square {
    --b-avatar-border-radius: var(--b-radius-interactive);
}

.b-avatar--shape-circle {
    --b-avatar-border-radius: var(--b-radius-full);
}