:root {
    --b-ref-px:   1px;

    /* Control Height */
    --b-ref-control-size-xs: 1.5rem;   /* 24px */
    --b-ref-control-size-sm: 2rem;     /* 32px */
    --b-ref-control-size-md: 2.5rem;   /* 40px */
    --b-ref-control-size-lg: 3rem;     /* 48px */

    /* Container Width */
    --b-ref-size-3xs: 16rem;  /* 256px */
    --b-ref-size-2xs: 18rem;  /* 288px */
    --b-ref-size-xs:  20rem;  /* 320px */
    --b-ref-size-sm:  24rem;  /* 384px */
    --b-ref-size-md:  28rem;  /* 448px */
    --b-ref-size-lg:  32rem;  /* 512px */
    --b-ref-size-xl:  36rem;  /* 576px */
    --b-ref-size-2xl: 42rem;  /* 672px */
    --b-ref-size-3xl: 48rem;  /* 768px */
    --b-ref-size-4xl: 56rem;  /* 896px */
    --b-ref-size-5xl: 64rem;  /* 1024px */
    --b-ref-size-6xl: 72rem;  /* 1152px */
    --b-ref-size-7xl: 80rem;  /* 1280px */
}