:root {
    /* Space */
    --b-ref-space-0:   0;
    --b-ref-space-0-5: 0.125rem; /* 2px */
    --b-ref-space-1:   0.25rem;  /* 4px */
    --b-ref-space-1-5: 0.375rem; /* 6px */
    --b-ref-space-2:   0.5rem;   /* 8px */
    --b-ref-space-2-5: 0.625rem; /* 10px */
    --b-ref-space-3:   0.75rem;  /* 12px */
    --b-ref-space-3-5: 0.875rem; /* 14px */
    --b-ref-space-4:   1rem;     /* 16px */
    --b-ref-space-5:   1.25rem;  /* 20px */
    --b-ref-space-6:   1.5rem;   /* 24px */
    --b-ref-space-7:   1.75rem;  /* 28px */
    --b-ref-space-8:   2rem;     /* 32px */
    --b-ref-space-9:   2.25rem;  /* 36px */
    --b-ref-space-10:  2.5rem;   /* 40px */
    --b-ref-space-11:  2.75rem;  /* 44px */
    --b-ref-space-12:  3rem;     /* 48px */

    /* Inset */
    --b-ref-inset-px:   1px;
    --b-ref-inset-full: 100%;
}