:root {
    --b-ref-font-size-xxs: 0.625rem; /* 10px */
    --b-ref-font-size-xs:  0.75rem;  /* 12px */
    --b-ref-font-size-sm:  0.875rem; /* 14px */
    --b-ref-font-size-md:  1rem;     /* 16px - Base */
    --b-ref-font-size-lg:  1.125rem; /* 18px */
    --b-ref-font-size-xl:  1.25rem;  /* 20px */
    --b-ref-font-size-2xl: 1.375rem; /* 22px */
    --b-ref-font-size-3xl: 1.5rem;   /* 24px */
    --b-ref-font-size-4xl: 1.625rem; /* 26px */
    --b-ref-font-size-5xl: 1.75rem;  /* 28px */
    --b-ref-font-size-6xl: 1.875rem; /* 30px */

    --b-ref-line-height-none:    1;
    --b-ref-line-height-tight:   1.25;
    --b-ref-line-height-snug:    1.375;
    --b-ref-line-height-normal:  1.5;
    --b-ref-line-height-relaxed: 1.625;
    --b-ref-line-height-loose:   2;

    --b-ref-font-weight-thin:    100;
    --b-ref-font-weight-light:   300;
    --b-ref-font-weight-regular: 400;
    --b-ref-font-weight-medium:  500;
    --b-ref-font-weight-bold:    700;
    --b-ref-font-weight-black:   900;

    --b-ref-letter-spacing-tighter: -0.05em;
    --b-ref-letter-spacing-tight:   -0.025em;
    --b-ref-letter-spacing-normal:   0em;
    --b-ref-letter-spacing-wide:     0.025em;
    --b-ref-letter-spacing-wider:    0.05em;
    --b-ref-letter-spacing-widest:   0.1em;
}