/**
 * Bestiary UI — Justify Self Utilities
 * ------------------------------------------------------------
 */

.justify-self-auto    { justify-self: auto !important; }
.justify-self-start   { justify-self: start !important; }
.justify-self-end     { justify-self: end !important; }
.justify-self-center  { justify-self: center !important; }
.justify-self-stretch { justify-self: stretch !important; }