@property --b-stroke {
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}

:where(html) {
    --b-stroke-none: 0px;
    --b-stroke-sm:   1px;
    --b-stroke-md:   2px;
    --b-stroke-lg:   3px;
    --b-stroke-xl:   5px;
    --b-stroke-2xl:  10px;
}