@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
/**
 * THEME: Forest
 */

:where(html[data-theme="forest"]) {
    --b-theme-name: "Forest";

    /* Font Families */
    --b-font-family-base:    "Roboto", sans-serif;
    --b-font-family-display: "Roboto", sans-serif;
    --b-font-family-mono:    "JetBrains Mono", monospace;

    /* Typography Roles (Mapping) */
    /* H1-H6 Sizes, Weights, Leading */
    --b-h1-size: var(--b-text-5xl);
    --b-h1-weight: var(--b-font-weight-bold);
    --b-h1-leading: var(--b-text-5xl--line-height);

    --b-h2-size: var(--b-text-4xl);
    --b-h2-weight: var(--b-font-weight-bold);
    --b-h2-leading: var(--b-text-4xl--line-height);

    --b-h3-size: var(--b-text-3xl);
    --b-h3-weight: var(--b-font-weight-semibold);
    --b-h3-leading: var(--b-text-3xl--line-height);

    --b-h4-size: var(--b-text-2xl);
    --b-h4-weight: var(--b-font-weight-semibold);
    --b-h4-leading: var(--b-text-2xl--line-height);

    --b-h5-size: var(--b-text-xl);
    --b-h5-weight: var(--b-font-weight-medium);
    --b-h5-leading: var(--b-text-xl--line-height);

    --b-h6-size: var(--b-text-lg);
    --b-h6-weight: var(--b-font-weight-medium);
    --b-h6-leading: var(--b-text-lg--line-height);

    --b-body-size: var(--b-font-size-md);
    --b-body-weight: var(--b-font-weight-regular);
    --b-body-leading: var(--b-text-md--line-height);


}