:where(.b-divider) {
    --b-divider-width: var(--b-stroke-default);
    --b-divider-border-style: solid;
    --b-divider-border-color: var(--b-border-subtle);

    --b-divider-horizontal-margin:  var(--b-space-4) 0;
    --b-divider-horizontal-padding: 0 var(--b-space-4);

    --b-divider-vertical-margin:  0 var(--b-space-4);
    --b-divider-vertical-padding: var(--b-space-2) 0;

    --b-divider-content-background: var(--b-surface-section);
    --b-divider-content-color:      var(--b-text-primary);
    --b-divider-content-padding:    var(--b-space-2);
    --b-divider-content-font-size:  var(--b-text-sm);

    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

:where(.b-divider)::before {
    position: absolute;
    display: block;
    content: "";
}

:where(.b-divider__content) {
    z-index: 1;
    background: var(--b-divider-content-background);
    color: var(--b-divider-content-color);
    font-size: var(--b-divider-content-font-size);
}

/* Horizontal */
:where(.b-divider--layout-horizontal) {
    width: 100%;
    justify-content: var(--b-divider-justify-content);
    margin: var(--b-divider-horizontal-margin);
    padding: var(--b-divider-horizontal-padding);
}

:where(.b-divider--layout-horizontal)::before {
    inset-block-start: 50%;
    inset-inline-start: 0;
    width: 100%;
    border-block-start: var(--b-divider-width) var(--b-divider-border-style) var(--b-divider-border-color);
}

:where(.b-divider--layout-horizontal .b-divider__content) {
    padding: 0 var(--b-divider-content-padding);
}

/* Vertical */
:where(.b-divider--layout-vertical) {
    min-height: 100%;
    align-items: var(--b-divider-align-items);
    margin: var(--b-divider-vertical-margin);
    padding: var(--b-divider-vertical-padding);
}

:where(.b-divider--layout-vertical)::before {
    inset-block-start: 0;
    inset-inline-start: 50%;
    height: 100%;
    border-inline-start: var(--b-divider-width) var(--b-divider-border-style) var(--b-divider-border-color);
}

:where(.b-divider--layout-vertical .b-divider__content) {
    padding: var(--b-divider-content-padding) 0;
}

/* Content align */
:where(.b-divider--layout-horizontal.b-divider--align-left)   { --b-divider-justify-content: flex-start; }
:where(.b-divider--layout-horizontal.b-divider--align-center) { --b-divider-justify-content: center; }
:where(.b-divider--layout-horizontal.b-divider--align-right)  { --b-divider-justify-content: flex-end; }

:where(.b-divider--layout-vertical.b-divider--align-top)     { --b-divider-align-items: flex-start; }
:where(.b-divider--layout-vertical.b-divider--align-center)  { --b-divider-align-items: center; }
:where(.b-divider--layout-vertical.b-divider--align-bottom)  { --b-divider-align-items: flex-end; }

/* Line style */
:where(.b-divider--type-solid)  { --b-divider-border-style: solid; }
:where(.b-divider--type-dotted) { --b-divider-border-style: dotted; }
:where(.b-divider--type-dashed) { --b-divider-border-style: dashed; }