@property --b-control-size {
    syntax: "<length>";
    inherits: true;
    initial-value: 2.5rem;
}

:where(html) {
    --b-control-size-xs: 1rem;   /* 20px */
    --b-control-size-sm: 1.5rem; /* 24px */
    --b-control-size-md: 2rem;   /* 32px */
    --b-control-size-lg: 2.5rem; /* 40px */
    --b-control-size-xl: 3rem;   /* 64px */

    --b-control-size: var(--b-control-size-md);
}