:where(html) {
    --b-ref-container-3xs: 16rem;  /* 256px */
    --b-ref-container-2xs: 18rem;  /* 288px */
    --b-ref-container-xs:  20rem;  /* 320px */
    --b-ref-container-sm:  24rem;  /* 384px */
    --b-ref-container-md:  28rem;  /* 448px */
    --b-ref-container-lg:  32rem;  /* 512px */
    --b-ref-container-xl:  36rem;  /* 576px */
    --b-ref-container-2xl: 42rem;  /* 672px */
    --b-ref-container-3xl: 48rem;  /* 768px */
    --b-ref-container-4xl: 56rem;  /* 896px */
    --b-ref-container-5xl: 64rem;  /* 1024px */
    --b-ref-container-6xl: 72rem;  /* 1152px */
    --b-ref-container-7xl: 80rem;  /* 1280px */
}