:where(html) {
    --b-z-negative: -1;
    --b-z-0:        0;
    --b-z-1:        10;
    --b-z-2:        20;
    --b-z-3:        30;
    --b-z-4:        40;
    --b-z-5:        50;
    --b-z-10:       100;
    --b-z-20:       200;
    --b-z-30:       300;
    --b-z-40:       400;
    --b-z-50:       500;
    --b-z-100:      1000;
    --b-z-200:      2000;
    --b-z-300:      3000;
    --b-z-400:      4000;
    --b-z-500:      5000;
    --b-z-max:      2147483647;
}