:root {
    --b-ref-amber-50:  #fffbeb;
    --b-ref-amber-100: #fef3c7;
    --b-ref-amber-200: #fde68a;
    --b-ref-amber-300: #fcd34d;
    --b-ref-amber-400: #fbbf24;
    --b-ref-amber-500: #f59e0b;
    --b-ref-amber-600: #d97706;
    --b-ref-amber-700: #b45309;
    --b-ref-amber-800: #92400e;
    --b-ref-amber-900: #78350f;
    --b-ref-amber-950: #451a03;
}