:root {
    --b-ref-blue-50:  #eff6ff;
    --b-ref-blue-100: #dbeafe;
    --b-ref-blue-200: #bfdbfe;
    --b-ref-blue-300: #93c5fd;
    --b-ref-blue-400: #60a5fa;
    --b-ref-blue-500: #3b82f6;
    --b-ref-blue-600: #2563eb;
    --b-ref-blue-700: #1d4ed8;
    --b-ref-blue-800: #1e40af;
    --b-ref-blue-900: #1e3a8a;
    --b-ref-blue-950: #172554;
}