:where(html) {
    --b-blue-50-channels:  97% 0.014 254.604;
    --b-blue-100-channels: 93.2% 0.032 255.585;
    --b-blue-200-channels: 88.2% 0.059 254.128;
    --b-blue-300-channels: 80.9% 0.105 251.813;
    --b-blue-400-channels: 70.7% 0.165 254.624;
    --b-blue-500-channels: 62.3% 0.214 259.815;
    --b-blue-600-channels: 54.6% 0.245 262.881;
    --b-blue-700-channels: 48.8% 0.243 264.376;
    --b-blue-800-channels: 42.4% 0.199 265.638;
    --b-blue-900-channels: 37.9% 0.146 265.522;
    --b-blue-950-channels: 28.2% 0.091 267.935;

    --b-blue-50:  oklch(var(--b-blue-50-channels));
    --b-blue-100: oklch(var(--b-blue-100-channels));
    --b-blue-200: oklch(var(--b-blue-200-channels));
    --b-blue-300: oklch(var(--b-blue-300-channels));
    --b-blue-400: oklch(var(--b-blue-400-channels));
    --b-blue-500: oklch(var(--b-blue-500-channels));
    --b-blue-600: oklch(var(--b-blue-600-channels));
    --b-blue-700: oklch(var(--b-blue-700-channels));
    --b-blue-800: oklch(var(--b-blue-800-channels));
    --b-blue-900: oklch(var(--b-blue-900-channels));
    --b-blue-950: oklch(var(--b-blue-950-channels));
}