:where(html) {
    --b-ref-brand-facebook: #0866FF;
    --b-ref-brand-youtube: #FF0000;
    --b-ref-brand-twitter: #469CF0;
    --b-ref-brand-whatsapp: #25D366;
    --b-ref-brand-instagram-yellow: #F8D648;
    --b-ref-brand-instagram-red: #E93365;
    --b-ref-brand-instagram-magenta: #D32DBF;
    --b-ref-brand-instagram-blue: #611EF5;
    --b-ref-brand-snapchat: #FFFC00;
    --b-ref-brand-google-blue: #4285F4;
    --b-ref-brand-google-red: #DB4437;
    --b-ref-brand-google-yellow: #F4B400;
    --b-ref-brand-google-green: #0F9D58;
    --b-ref-brand-tiktok-razzmatazz: #FE2C55;
    --b-ref-brand-tiktok-splash: #25F4EE;
    --b-ref-brand-microsoft-red: #F25022;
    --b-ref-brand-microsoft-green: #7FBA00;
    --b-ref-brand-microsoft-blue: #00A4EF;
    --b-ref-brand-microsoft-yellow: #FFB900;
    --b-ref-brand-pinterest: #E60023;
    --b-ref-brand-spotify: #1ED760;
    --b-ref-brand-discord: #5865F2;
    --b-ref-brand-telegram: #2AABEE;
    --b-ref-brand-reddit: #FF4500;
    --b-ref-brand-amazon: #232F3E;
    --b-ref-brand-twitch: #9146FF;
}