:where(html) {
    /* White */
    --b-white-channels: 1 0 0;
    --b-white:          oklch(var(--b-white-channels));

    /* Black */
    --b-black-channels: 0 0 0;
    --b-black:          oklch(var(--b-black-channels));

    /* System keywords */
    --b-transparent:    transparent;
    --b-current:        currentColor;
    --b-inherit:        inherit;
}