:root {
    --b-ref-cyan-50:  #ecfeff;
    --b-ref-cyan-100: #cffafe;
    --b-ref-cyan-200: #a5f3fc;
    --b-ref-cyan-300: #67e8f9;
    --b-ref-cyan-400: #22d3ee;
    --b-ref-cyan-500: #06b6d4;
    --b-ref-cyan-600: #0891b2;
    --b-ref-cyan-700: #0e7490;
    --b-ref-cyan-800: #155e75;
    --b-ref-cyan-900: #164e63;
    --b-ref-cyan-950: #083344;
}