:root {
    --b-ref-emerald-50: #ecfdf5;
    --b-ref-emerald-100: #d1fae5;
    --b-ref-emerald-200: #a7f3d0;
    --b-ref-emerald-300: #6ee7b7;
    --b-ref-emerald-400: #34d399;
    --b-ref-emerald-500: #10b981;
    --b-ref-emerald-600: #059669;
    --b-ref-emerald-700: #047857;
    --b-ref-emerald-800: #065f46;
    --b-ref-emerald-900: #064e3b;
    --b-ref-emerald-950: #022c22;
}