:root {
    --b-ref-fuchsia-50:  #fdf4ff;
    --b-ref-fuchsia-100: #fae8ff;
    --b-ref-fuchsia-200: #f5d0fe;
    --b-ref-fuchsia-300: #f0abfc;
    --b-ref-fuchsia-400: #e879f9;
    --b-ref-fuchsia-500: #d946ef;
    --b-ref-fuchsia-600: #c026d3;
    --b-ref-fuchsia-700: #a21caf;
    --b-ref-fuchsia-800: #86198f;
    --b-ref-fuchsia-900: #701a75;
    --b-ref-fuchsia-950: #4a044e;
}