:root {
    --b-ref-gray-50:  #f9fafb;
    --b-ref-gray-100: #f3f4f6;
    --b-ref-gray-200: #e5e7eb;
    --b-ref-gray-300: #d1d5db;
    --b-ref-gray-400: #9ca3af;
    --b-ref-gray-500: #6b7280;
    --b-ref-gray-600: #4b5563;
    --b-ref-gray-700: #374151;
    --b-ref-gray-800: #1f2937;
    --b-ref-gray-900: #111827;
    --b-ref-gray-950: #030712;
}