:root {
    --b-ref-green-50:  #f0fdf4;
    --b-ref-green-100: #dcfce7;
    --b-ref-green-200: #bbf7d0;
    --b-ref-green-300: #86efac;
    --b-ref-green-400: #4ade80;
    --b-ref-green-500: #22c55e;
    --b-ref-green-600: #16a34a;
    --b-ref-green-700: #15803d;
    --b-ref-green-800: #166534;
    --b-ref-green-900: #14532d;
    --b-ref-green-950: #052e16;
}