:root {
    --b-ref-indigo-50:  #eef2ff;
    --b-ref-indigo-100: #e0e7ff;
    --b-ref-indigo-200: #c7d2fe;
    --b-ref-indigo-300: #a5b4fc;
    --b-ref-indigo-400: #818cf8;
    --b-ref-indigo-500: #6366f1;
    --b-ref-indigo-600: #4f46e5;
    --b-ref-indigo-700: #4338ca;
    --b-ref-indigo-800: #3730a3;
    --b-ref-indigo-900: #312e81;
    --b-ref-indigo-950: #1e1b4b;
}