:where(html) {
    --b-lime-50-channels:  98.6% 0.031 120.757;
    --b-lime-100-channels: 96.7% 0.067 122.328;
    --b-lime-200-channels: 93.8% 0.127 124.321;
    --b-lime-300-channels: 89.7% 0.196 126.665;
    --b-lime-400-channels: 84.1% 0.238 128.85;
    --b-lime-500-channels: 76.8% 0.233 130.85;
    --b-lime-600-channels: 64.8% 0.2 131.684;
    --b-lime-700-channels: 53.2% 0.157 131.589;
    --b-lime-800-channels: 45.3% 0.124 130.933;
    --b-lime-900-channels: 40.5% 0.101 131.063;
    --b-lime-950-channels: 27.4% 0.072 132.109;

    --b-lime-50:  oklch(var(--b-lime-50-channels));
    --b-lime-100: oklch(var(--b-lime-100-channels));
    --b-lime-200: oklch(var(--b-lime-200-channels));
    --b-lime-300: oklch(var(--b-lime-300-channels));
    --b-lime-400: oklch(var(--b-lime-400-channels));
    --b-lime-500: oklch(var(--b-lime-500-channels));
    --b-lime-600: oklch(var(--b-lime-600-channels));
    --b-lime-700: oklch(var(--b-lime-700-channels));
    --b-lime-800: oklch(var(--b-lime-800-channels));
    --b-lime-900: oklch(var(--b-lime-900-channels));
    --b-lime-950: oklch(var(--b-lime-950-channels));
}