:root {
    --b-ref-lime-50:  #f7fee7;
    --b-ref-lime-100: #ecfccb;
    --b-ref-lime-200: #d9f99d;
    --b-ref-lime-300: #bef264;
    --b-ref-lime-400: #a3e635;
    --b-ref-lime-500: #84cc16;
    --b-ref-lime-600: #65a30d;
    --b-ref-lime-700: #4d7c0f;
    --b-ref-lime-800: #3f6212;
    --b-ref-lime-900: #365314;
    --b-ref-lime-950: #1a2e05;
}