:root {
    --b-ref-neutral-0:    #ffffff;
    --b-ref-neutral-50:   #fafafa;
    --b-ref-neutral-100:  #f5f5f5;
    --b-ref-neutral-200:  #e5e5e5;
    --b-ref-neutral-300:  #d4d4d4;
    --b-ref-neutral-400:  #a3a3a3;
    --b-ref-neutral-500:  #737373;
    --b-ref-neutral-600:  #525252;
    --b-ref-neutral-700:  #404040;
    --b-ref-neutral-800:  #262626;
    --b-ref-neutral-900:  #171717;
    --b-ref-neutral-950:  #0a0a0a;
    --b-ref-neutral-1000: #000000;
}