:where(html) {
    --b-neutral-50-channels:  98.5% 0 0;
    --b-neutral-100-channels: 97% 0 0;
    --b-neutral-200-channels: 92.2% 0 0;
    --b-neutral-300-channels: 87% 0 0;
    --b-neutral-400-channels: 70.8% 0 0;
    --b-neutral-500-channels: 55.6% 0 0;
    --b-neutral-600-channels: 43.9% 0 0;
    --b-neutral-700-channels: 37.1% 0 0;
    --b-neutral-800-channels: 26.9% 0 0;
    --b-neutral-900-channels: 20.5% 0 0;
    --b-neutral-950-channels: 14.5% 0 0;

    --b-neutral-50:  oklch(var(--b-neutral-50-channels));
    --b-neutral-100: oklch(var(--b-neutral-100-channels));
    --b-neutral-200: oklch(var(--b-neutral-200-channels));
    --b-neutral-300: oklch(var(--b-neutral-300-channels));
    --b-neutral-400: oklch(var(--b-neutral-400-channels));
    --b-neutral-500: oklch(var(--b-neutral-500-channels));
    --b-neutral-600: oklch(var(--b-neutral-600-channels));
    --b-neutral-700: oklch(var(--b-neutral-700-channels));
    --b-neutral-800: oklch(var(--b-neutral-800-channels));
    --b-neutral-900: oklch(var(--b-neutral-900-channels));
    --b-neutral-950: oklch(var(--b-neutral-950-channels));
}