:root {
    --b-ref-orange-50:  #fff7ed;
    --b-ref-orange-100: #ffedd5;
    --b-ref-orange-200: #fed7aa;
    --b-ref-orange-300: #fdba74;
    --b-ref-orange-400: #fb923c;
    --b-ref-orange-500: #f97316;
    --b-ref-orange-600: #ea580c;
    --b-ref-orange-700: #c2410c;
    --b-ref-orange-800: #9a3412;
    --b-ref-orange-900: #7c2d12;
    --b-ref-orange-950: #431407;
}