:root {
    --b-ref-pink-50:  #fdf2f8;
    --b-ref-pink-100: #fce7f3;
    --b-ref-pink-200: #fbcfe8;
    --b-ref-pink-300: #f9a8d4;
    --b-ref-pink-400: #f472b6;
    --b-ref-pink-500: #ec4899;
    --b-ref-pink-600: #db2777;
    --b-ref-pink-700: #be185d;
    --b-ref-pink-800: #9d174d;
    --b-ref-pink-900: #831843;
    --b-ref-pink-950: #500724;
}