:root {
    --b-ref-purple-50:  #faf5ff;
    --b-ref-purple-100: #f3e8ff;
    --b-ref-purple-200: #e9d5ff;
    --b-ref-purple-300: #d8b4fe;
    --b-ref-purple-400: #c084fc;
    --b-ref-purple-500: #a855f7;
    --b-ref-purple-600: #9333ea;
    --b-ref-purple-700: #7e22ce;
    --b-ref-purple-800: #6b21a8;
    --b-ref-purple-900: #581c87;
    --b-ref-purple-950: #3b0764;
}