:root {
    --b-ref-red-50:  #fef2f2;
    --b-ref-red-100: #fee2e2;
    --b-ref-red-200: #fecaca;
    --b-ref-red-300: #fca5a5;
    --b-ref-red-400: #f87171;
    --b-ref-red-500: #ef4444;
    --b-ref-red-600: #dc2626;
    --b-ref-red-700: #b91c1c;
    --b-ref-red-800: #991b1b;
    --b-ref-red-900: #7f1d1d;
    --b-ref-red-950: #450a0a;
}