:where(html) {
    --b-red-50-channels:  0.971 0.013 17.38;
    --b-red-100-channels: 0.936 0.032 17.717;
    --b-red-200-channels: 0.885 0.062 18.334;
    --b-red-300-channels: 0.808 0.114 19.571;
    --b-red-400-channels: 0.704 0.191 22.216;
    --b-red-500-channels: 0.637 0.237 25.331;
    --b-red-600-channels: 0.577 0.245 27.325;
    --b-red-700-channels: 0.505 0.213 27.518;
    --b-red-800-channels: 0.444 0.177 26.899;
    --b-red-900-channels: 0.396 0.141 25.723;
    --b-red-950-channels: 0.258 0.092 26.042;

    --b-red-50:  oklch(var(--b-red-50-channels));
    --b-red-100: oklch(var(--b-red-100-channels));
    --b-red-200: oklch(var(--b-red-200-channels));
    --b-red-300: oklch(var(--b-red-300-channels));
    --b-red-400: oklch(var(--b-red-400-channels));
    --b-red-500: oklch(var(--b-red-500-channels));
    --b-red-600: oklch(var(--b-red-600-channels));
    --b-red-700: oklch(var(--b-red-700-channels));
    --b-red-800: oklch(var(--b-red-800-channels));
    --b-red-900: oklch(var(--b-red-900-channels));
    --b-red-950: oklch(var(--b-red-950-channels));
}