:root {
    --b-ref-rose-50:  #fff1f2;
    --b-ref-rose-100: #ffe4e6;
    --b-ref-rose-200: #fecdd3;
    --b-ref-rose-300: #fda4af;
    --b-ref-rose-400: #fb7185;
    --b-ref-rose-500: #f43f5e;
    --b-ref-rose-600: #e11d48;
    --b-ref-rose-700: #be123c;
    --b-ref-rose-800: #9f1239;
    --b-ref-rose-900: #881337;
    --b-ref-rose-950: #4c0519;
}