:root {
    --b-ref-sky-50:  #f0f9ff;
    --b-ref-sky-100: #e0f2fe;
    --b-ref-sky-200: #bae6fd;
    --b-ref-sky-300: #7dd3fc;
    --b-ref-sky-400: #38bdf8;
    --b-ref-sky-500: #0ea5e9;
    --b-ref-sky-600: #0284c7;
    --b-ref-sky-700: #0369a1;
    --b-ref-sky-800: #075985;
    --b-ref-sky-900: #0c4a6e;
    --b-ref-sky-950: #082f49;
}