:where(html) {
    --b-sky-50-channels:  97.7% 0.013 236.62;
    --b-sky-100-channels: 95.1% 0.026 236.824;
    --b-sky-200-channels: 90.1% 0.058 230.902;
    --b-sky-300-channels: 82.8% 0.111 230.318;
    --b-sky-400-channels: 74.6% 0.16 232.661;
    --b-sky-500-channels: 68.5% 0.169 237.323;
    --b-sky-600-channels: 58.8% 0.158 241.966;
    --b-sky-700-channels: 50% 0.134 242.749;
    --b-sky-800-channels: 44.3% 0.11 240.79;
    --b-sky-900-channels: 39.1% 0.09 240.876;
    --b-sky-950-channels: 29.3% 0.066 243.157;

    --b-sky-50:  oklch(var(--b-sky-50-channels));
    --b-sky-100: oklch(var(--b-sky-100-channels));
    --b-sky-200: oklch(var(--b-sky-200-channels));
    --b-sky-300: oklch(var(--b-sky-300-channels));
    --b-sky-400: oklch(var(--b-sky-400-channels));
    --b-sky-500: oklch(var(--b-sky-500-channels));
    --b-sky-600: oklch(var(--b-sky-600-channels));
    --b-sky-700: oklch(var(--b-sky-700-channels));
    --b-sky-800: oklch(var(--b-sky-800-channels));
    --b-sky-900: oklch(var(--b-sky-900-channels));
    --b-sky-950: oklch(var(--b-sky-950-channels));
}