:root {
    --b-ref-slate-50:  #f8fafc;
    --b-ref-slate-100: #f1f5f9;
    --b-ref-slate-200: #e2e8f0;
    --b-ref-slate-300: #cbd5e1;
    --b-ref-slate-400: #94a3b8;
    --b-ref-slate-500: #64748b;
    --b-ref-slate-600: #475569;
    --b-ref-slate-700: #334155;
    --b-ref-slate-800: #1e293b;
    --b-ref-slate-900: #0f172a;
    --b-ref-slate-950: #020617;
}