:where(html) {
    --b-slate-50-channels:  0.984 0.003 247.858;
    --b-slate-100-channels: 0.968 0.007 247.896;
    --b-slate-200-channels: 0.929 0.013 255.508;
    --b-slate-300-channels: 0.869 0.022 252.894;
    --b-slate-400-channels: 0.704 0.04 256.788;
    --b-slate-500-channels: 0.554 0.046 257.417;
    --b-slate-600-channels: 0.446 0.043 257.281;
    --b-slate-700-channels: 0.372 0.044 257.287;
    --b-slate-800-channels: 0.279 0.041 260.031;
    --b-slate-900-channels: 0.208 0.042 265.755;
    --b-slate-950-channels: 0.129 0.042 264.695;

    --b-slate-50:  oklch(var(--b-slate-50-channels));
    --b-slate-100: oklch(var(--b-slate-100-channels));
    --b-slate-200: oklch(var(--b-slate-200-channels));
    --b-slate-300: oklch(var(--b-slate-300-channels));
    --b-slate-400: oklch(var(--b-slate-400-channels));
    --b-slate-500: oklch(var(--b-slate-500-channels));
    --b-slate-600: oklch(var(--b-slate-600-channels));
    --b-slate-700: oklch(var(--b-slate-700-channels));
    --b-slate-800: oklch(var(--b-slate-800-channels));
    --b-slate-900: oklch(var(--b-slate-900-channels));
    --b-slate-950: oklch(var(--b-slate-950-channels));
}