:root {
    --b-ref-stone-50:  #fafaf9;
    --b-ref-stone-100: #f5f5f4;
    --b-ref-stone-200: #e7e5e4;
    --b-ref-stone-300: #d6d3d1;
    --b-ref-stone-400: #a8a29e;
    --b-ref-stone-500: #78716c;
    --b-ref-stone-600: #57534e;
    --b-ref-stone-700: #44403c;
    --b-ref-stone-800: #292524;
    --b-ref-stone-900: #1c1917;
    --b-ref-stone-950: #0c0a09;
}