:root {
    --b-ref-teal-50:  #f0fdfa;
    --b-ref-teal-100: #ccfbf1;
    --b-ref-teal-200: #99f6e4;
    --b-ref-teal-300: #5eead4;
    --b-ref-teal-400: #2dd4bf;
    --b-ref-teal-500: #14b8a6;
    --b-ref-teal-600: #0d9488;
    --b-ref-teal-700: #0f766e;
    --b-ref-teal-800: #115e59;
    --b-ref-teal-900: #134e4a;
    --b-ref-teal-950: #042f2e;
}