:root {
    --b-ref-violet-50:  #f5f3ff;
    --b-ref-violet-100: #ede9fe;
    --b-ref-violet-200: #ddd6fe;
    --b-ref-violet-300: #c4b5fd;
    --b-ref-violet-400: #a78bfa;
    --b-ref-violet-500: #8b5cf6;
    --b-ref-violet-600: #7c3aed;
    --b-ref-violet-700: #6d28d9;
    --b-ref-violet-800: #5b21b6;
    --b-ref-violet-900: #4c1d95;
    --b-ref-violet-950: #2e1065;
}