:root {
    --b-ref-yellow-50:  #fefce8;
    --b-ref-yellow-100: #fef9c3;
    --b-ref-yellow-200: #fef08a;
    --b-ref-yellow-300: #fde047;
    --b-ref-yellow-400: #facc15;
    --b-ref-yellow-500: #eab308;
    --b-ref-yellow-600: #ca8a04;
    --b-ref-yellow-700: #a16207;
    --b-ref-yellow-800: #854d0e;
    --b-ref-yellow-900: #713f12;
    --b-ref-yellow-950: #422006;
}