:root {
    --b-ref-zinc-50:  #fafafa;
    --b-ref-zinc-100: #f4f4f5;
    --b-ref-zinc-200: #e4e4e7;
    --b-ref-zinc-300: #d4d4d8;
    --b-ref-zinc-400: #a1a1aa;
    --b-ref-zinc-500: #71717a;
    --b-ref-zinc-600: #52525b;
    --b-ref-zinc-700: #3f3f46;
    --b-ref-zinc-800: #27272a;
    --b-ref-zinc-900: #18181b;
    --b-ref-zinc-950: #09090b;
}