/* ==========================================
   WIDTH
   ========================================== */

/* Around */
.b-border-0 { border-width: var(--b-ref-line-none) !important; }
.b-border   { border-width: var(--b-ref-line-sm) !important; }
.b-border-2 { border-width: var(--b-ref-line-md) !important; }
.b-border-4 { border-width: var(--b-ref-line-lg) !important; }

/* Top */
.b-border-t-0 { border-top-width: var(--b-ref-line-none) !important; }
.b-border-t   { border-top-width: var(--b-ref-line-sm) !important; }
.b-border-t-2 { border-top-width: var(--b-ref-line-md) !important; }
.b-border-t-3 { border-top-width: var(--b-ref-line-lg) !important; }

/* Right */
.b-border-r-0 { border-right-width: var(--b-ref-line-none) !important; }
.b-border-r   { border-right-width: var(--b-ref-line-sm) !important; }
.b-border-r-2 { border-right-width: var(--b-ref-line-md) !important; }
.b-border-r-3 { border-right-width: var(--b-ref-line-lg) !important; }

/* Bottom */
.b-border-b-0 { border-bottom-width: var(--b-ref-line-none) !important; }
.b-border-b   { border-bottom-width: var(--b-ref-line-sm) !important; }
.b-border-b-2 { border-bottom-width: var(--b-ref-line-md) !important; }
.b-border-b-3 { border-bottom-width: var(--b-ref-line-lg) !important; }

/* Left */
.b-border-l-0 { border-left-width: var(--b-ref-line-none) !important; }
.b-border-l   { border-left-width: var(--b-ref-line-sm) !important; }
.b-border-l-2 { border-left-width: var(--b-ref-line-md) !important; }
.b-border-l-3 { border-left-width: var(--b-ref-line-lg) !important; }

/* Left+Right */
.b-border-x-0 { border-left-width: var(--b-ref-line-none) !important; border-right-width: var(--b-ref-line-none) !important; }
.b-border-x   { border-left-width: var(--b-ref-line-sm) !important;   border-right-width: var(--b-ref-line-sm) !important; }
.b-border-x-2 { border-left-width: var(--b-ref-line-md) !important;   border-right-width: var(--b-ref-line-md) !important; }
.b-border-x-3 { border-left-width: var(--b-ref-line-lg) !important;   border-right-width: var(--b-ref-line-lg) !important; }

/* Top+Bottom */
.b-border-y-0 { border-top-width: var(--b-ref-line-none) !important; border-bottom-width: var(--b-ref-line-none) !important; }
.b-border-y   { border-top-width: var(--b-ref-line-sm) !important;   border-bottom-width: var(--b-ref-line-sm) !important; }
.b-border-y-2 { border-top-width: var(--b-ref-line-md) !important;   border-bottom-width: var(--b-ref-line-md) !important; }
.b-border-y-3 { border-top-width: var(--b-ref-line-lg) !important;   border-bottom-width: var(--b-ref-line-lg) !important; }

/* ==========================================
   STYLE
   ========================================== */
.b-border-solid  { border-style: solid !important; }
.b-border-dashed { border-style: dashed !important; }
.b-border-dotted { border-style: dotted !important; }
.b-border-double { border-style: double !important; }
.b-border-hidden { border-style: hidden !important; }
.b-border-none   { border-style: none !important; }

/* ==========================================
   STYLE
   ========================================== */
.b-border-inherit     { border-color: inherit !important; }
.b-border-color       { border-color: var(--b-border-color) !important; }
.b-border-primary     { border-color: var(--b-color-primary) !important; }
.b-border-success     { border-color: var(--b-color-success) !important; }
.b-border-error       { border-color: var(--b-color-error) !important; }
.b-border-warning     { border-color: var(--b-color-warning) !important; }
.b-border-info        { border-color: var(--b-color-info) !important; }
.b-border-transparent { border-color: transparent !important; }

/* ==========================================
   DIVIDE UTILITIES
   ========================================== */

/* Divide Y */
.b-divide-y > * + * {
    border-top-width: 1px !important;
    border-top-style: solid !important;
    border-top-color: var(--b-border-color) !important;
}

/* Divide X */
.b-divide-x > * + * {
    border-left-width: 1px !important;
    border-left-style: solid !important;
    border-left-color: var(--b-border-color) !important;
}

/* Divide color */
.b-divide-primary > * + *     { border-color: inherit !important; }
.b-divide-primary > * + *     { border-color: currentColor !important; }
.b-divide-primary > * + *     { border-color: var(--b-color-primary) !important; }
.b-divide-success > * + *     { border-color: var(--b-color-success) !important; }
.b-divide-error > * + *       { border-color: var(--b-color-error) !important; }
.b-divide-warning > * + *     { border-color: var(--b-color-warning) !important; }
.b-divide-info > * + *        { border-color: var(--b-color-info) !important; }
.b-divide-transparent > * + * { border-color: transparent !important; }

/* Divide border style */
.b-divide-solid > * + *   { border-style: solid !important; }
.b-divide-dashed > * + *  { border-style: dashed !important; }
.b-divide-dotted > * + *  { border-style: dotted !important; }
.b-divide-double > * + *  { border-style: double !important; }
.b-divide-hidden > * + *  { border-style: hidden !important; }
.b-divide-none > * + *    { border-style: none !important; }

/* ==========================================
   RADIUS
   ========================================== */

/* Around */
.b-rounded-none { border-radius: var(--b-ref-radius-none) !important; }
.b-rounded-xs   { border-radius: var(--b-ref-radius-xs) !important; }
.b-rounded-sm   { border-radius: var(--b-ref-radius-sm) !important; }
.b-rounded-md   { border-radius: var(--b-ref-radius-md) !important; }
.b-rounded-lg   { border-radius: var(--b-ref-radius-lg) !important; }
.b-rounded-xl   { border-radius: var(--b-ref-radius-xl) !important; }
.b-rounded-2xl  { border-radius: var(--b-ref-radius-2xl) !important; }
.b-rounded-3xl  { border-radius: var(--b-ref-radius-3xl) !important; }
.b-rounded-4xl  { border-radius: var(--b-ref-radius-4xl) !important; }
.b-rounded-full { border-radius: var(--b-ref-radius-full) !important; }

/* Top */
.b-rounded-t-none { border-top-left-radius: var(--b-ref-radius-none) !important; border-top-right-radius: var(--b-ref-radius-none) !important; }
.b-rounded-t-xs   { border-top-left-radius: var(--b-ref-radius-xs) !important;   border-top-right-radius: var(--b-ref-radius-xs) !important; }
.b-rounded-t-sm   { border-top-left-radius: var(--b-ref-radius-sm) !important;   border-top-right-radius: var(--b-ref-radius-sm) !important; }
.b-rounded-t-md   { border-top-left-radius: var(--b-ref-radius-md) !important;   border-top-right-radius: var(--b-ref-radius-md) !important; }
.b-rounded-t-lg   { border-top-left-radius: var(--b-ref-radius-lg) !important;   border-top-right-radius: var(--b-ref-radius-lg) !important; }
.b-rounded-t-xl   { border-top-left-radius: var(--b-ref-radius-xl) !important;   border-top-right-radius: var(--b-ref-radius-xl) !important; }
.b-rounded-t-2xl  { border-top-left-radius: var(--b-ref-radius-2xl) !important;  border-top-right-radius: var(--b-ref-radius-2xl) !important; }
.b-rounded-t-3xl  { border-top-left-radius: var(--b-ref-radius-3xl) !important;  border-top-right-radius: var(--b-ref-radius-3xl) !important; }
.b-rounded-t-4xl  { border-top-left-radius: var(--b-ref-radius-4xl) !important;  border-top-right-radius: var(--b-ref-radius-4xl) !important; }
.b-rounded-t-full { border-top-left-radius: var(--b-ref-radius-full) !important; border-top-right-radius: var(--b-ref-radius-full) !important; }

/* Right */
.b-rounded-r-none { border-top-right-radius: var(--b-ref-radius-none) !important; border-bottom-right-radius: var(--b-ref-radius-none) !important; }
.b-rounded-r-xs   { border-top-right-radius: var(--b-ref-radius-xs) !important;   border-bottom-right-radius: var(--b-ref-radius-xs) !important; }
.b-rounded-r-sm   { border-top-right-radius: var(--b-ref-radius-sm) !important;   border-bottom-right-radius: var(--b-ref-radius-sm) !important; }
.b-rounded-r-md   { border-top-right-radius: var(--b-ref-radius-md) !important;   border-bottom-right-radius: var(--b-ref-radius-md) !important; }
.b-rounded-r-lg   { border-top-right-radius: var(--b-ref-radius-lg) !important;   border-bottom-right-radius: var(--b-ref-radius-lg) !important; }
.b-rounded-r-xl   { border-top-right-radius: var(--b-ref-radius-xl) !important;   border-bottom-right-radius: var(--b-ref-radius-xl) !important; }
.b-rounded-r-2xl  { border-top-right-radius: var(--b-ref-radius-2xl) !important;  border-bottom-right-radius: var(--b-ref-radius-2xl) !important; }
.b-rounded-r-3xl  { border-top-right-radius: var(--b-ref-radius-3xl) !important;  border-bottom-right-radius: var(--b-ref-radius-3xl) !important; }
.b-rounded-r-4xl  { border-top-right-radius: var(--b-ref-radius-4xl) !important;  border-bottom-right-radius: var(--b-ref-radius-4xl) !important; }
.b-rounded-r-full { border-top-right-radius: var(--b-ref-radius-full) !important; border-bottom-right-radius: var(--b-ref-radius-full) !important; }

/* Bottom */
.b-rounded-b-none { border-bottom-right-radius: var(--b-ref-radius-none) !important; border-bottom-left-radius: var(--b-ref-radius-none) !important; }
.b-rounded-b-xs   { border-bottom-right-radius: var(--b-ref-radius-xs) !important;   border-bottom-left-radius: var(--b-ref-radius-xs) !important; }
.b-rounded-b-sm   { border-bottom-right-radius: var(--b-ref-radius-sm) !important;   border-bottom-left-radius: var(--b-ref-radius-sm) !important; }
.b-rounded-b-md   { border-bottom-right-radius: var(--b-ref-radius-md) !important;   border-bottom-left-radius: var(--b-ref-radius-md) !important; }
.b-rounded-b-lg   { border-bottom-right-radius: var(--b-ref-radius-lg) !important;   border-bottom-left-radius: var(--b-ref-radius-lg) !important; }
.b-rounded-b-xl   { border-bottom-right-radius: var(--b-ref-radius-xl) !important;   border-bottom-left-radius: var(--b-ref-radius-xl) !important; }
.b-rounded-b-2xl  { border-bottom-right-radius: var(--b-ref-radius-2xl) !important;  border-bottom-left-radius: var(--b-ref-radius-2xl) !important; }
.b-rounded-b-3xl  { border-bottom-right-radius: var(--b-ref-radius-3xl) !important;  border-bottom-left-radius: var(--b-ref-radius-3xl) !important; }
.b-rounded-b-4xl  { border-bottom-right-radius: var(--b-ref-radius-4xl) !important;  border-bottom-left-radius: var(--b-ref-radius-4xl) !important; }
.b-rounded-b-full { border-bottom-right-radius: var(--b-ref-radius-full) !important; border-bottom-left-radius: var(--b-ref-radius-full) !important; }

/* Left */
.b-rounded-l-none { border-bottom-left-radius: var(--b-ref-radius-none) !important; border-top-left-radius: var(--b-ref-radius-none) !important; }
.b-rounded-l-xs   { border-bottom-left-radius: var(--b-ref-radius-xs) !important;   border-top-left-radius: var(--b-ref-radius-xs) !important; }
.b-rounded-l-sm   { border-bottom-left-radius: var(--b-ref-radius-sm) !important;   border-top-left-radius: var(--b-ref-radius-sm) !important; }
.b-rounded-l-md   { border-bottom-left-radius: var(--b-ref-radius-md) !important;   border-top-left-radius: var(--b-ref-radius-md) !important; }
.b-rounded-l-lg   { border-bottom-left-radius: var(--b-ref-radius-lg) !important;   border-top-left-radius: var(--b-ref-radius-lg) !important; }
.b-rounded-l-xl   { border-bottom-left-radius: var(--b-ref-radius-xl) !important;   border-top-left-radius: var(--b-ref-radius-xl) !important; }
.b-rounded-l-2xl  { border-bottom-left-radius: var(--b-ref-radius-2xl) !important;  border-top-left-radius: var(--b-ref-radius-2xl) !important; }
.b-rounded-l-3xl  { border-bottom-left-radius: var(--b-ref-radius-3xl) !important;  border-top-left-radius: var(--b-ref-radius-3xl) !important; }
.b-rounded-l-4xl  { border-bottom-left-radius: var(--b-ref-radius-4xl) !important;  border-top-left-radius: var(--b-ref-radius-4xl) !important; }
.b-rounded-l-full { border-bottom-left-radius: var(--b-ref-radius-full) !important; border-top-left-radius: var(--b-ref-radius-full) !important; }

/* Top-Left */
.b-rounded-tl-none { border-top-left-radius: var(--b-ref-radius-none) !important; }
.b-rounded-tl-xs   { border-top-left-radius: var(--b-ref-radius-xs) !important; }
.b-rounded-tl-sm   { border-top-left-radius: var(--b-ref-radius-sm) !important; }
.b-rounded-tl-md   { border-top-left-radius: var(--b-ref-radius-md) !important; }
.b-rounded-tl-lg   { border-top-left-radius: var(--b-ref-radius-lg) !important; }
.b-rounded-tl-xl   { border-top-left-radius: var(--b-ref-radius-xl) !important; }
.b-rounded-tl-2xl  { border-top-left-radius: var(--b-ref-radius-2xl) !important; }
.b-rounded-tl-3xl  { border-top-left-radius: var(--b-ref-radius-3xl) !important; }
.b-rounded-tl-4xl  { border-top-left-radius: var(--b-ref-radius-4xl) !important; }
.b-rounded-tl-full { border-top-left-radius: var(--b-ref-radius-full) !important; }

/* Top-Right */
.b-rounded-tr-none { border-top-right-radius: var(--b-ref-radius-none) !important; }
.b-rounded-tr-xs   { border-top-right-radius: var(--b-ref-radius-xs) !important; }
.b-rounded-tr-sm   { border-top-right-radius: var(--b-ref-radius-sm) !important; }
.b-rounded-tr-md   { border-top-right-radius: var(--b-ref-radius-md) !important; }
.b-rounded-tr-lg   { border-top-right-radius: var(--b-ref-radius-lg) !important; }
.b-rounded-tr-xl   { border-top-right-radius: var(--b-ref-radius-xl) !important; }
.b-rounded-tr-2xl  { border-top-right-radius: var(--b-ref-radius-2xl) !important; }
.b-rounded-tr-3xl  { border-top-right-radius: var(--b-ref-radius-3xl) !important; }
.b-rounded-tr-4xl  { border-top-right-radius: var(--b-ref-radius-4xl) !important; }
.b-rounded-tr-full { border-top-right-radius: var(--b-ref-radius-full) !important; }

/* Bottom-Left */
.b-rounded-bl-none { border-bottom-left-radius: var(--b-ref-radius-none) !important; }
.b-rounded-bl-xs   { border-bottom-left-radius: var(--b-ref-radius-xs) !important; }
.b-rounded-bl-sm   { border-bottom-left-radius: var(--b-ref-radius-sm) !important; }
.b-rounded-bl-md   { border-bottom-left-radius: var(--b-ref-radius-md) !important; }
.b-rounded-bl-lg   { border-bottom-left-radius: var(--b-ref-radius-lg) !important; }
.b-rounded-bl-xl   { border-bottom-left-radius: var(--b-ref-radius-xl) !important; }
.b-rounded-bl-2xl  { border-bottom-left-radius: var(--b-ref-radius-2xl) !important; }
.b-rounded-bl-3xl  { border-bottom-left-radius: var(--b-ref-radius-3xl) !important; }
.b-rounded-bl-4xl  { border-bottom-left-radius: var(--b-ref-radius-4xl) !important; }
.b-rounded-bl-full { border-bottom-left-radius: var(--b-ref-radius-full) !important; }

/* Bottom-Right */
.b-rounded-br-none { border-bottom-right-radius: var(--b-ref-radius-none) !important; }
.b-rounded-br-xs   { border-bottom-right-radius: var(--b-ref-radius-xs) !important; }
.b-rounded-br-sm   { border-bottom-right-radius: var(--b-ref-radius-sm) !important; }
.b-rounded-br-md   { border-bottom-right-radius: var(--b-ref-radius-md) !important; }
.b-rounded-br-lg   { border-bottom-right-radius: var(--b-ref-radius-lg) !important; }
.b-rounded-br-xl   { border-bottom-right-radius: var(--b-ref-radius-xl) !important; }
.b-rounded-br-2xl  { border-bottom-right-radius: var(--b-ref-radius-2xl) !important; }
.b-rounded-br-3xl  { border-bottom-right-radius: var(--b-ref-radius-3xl) !important; }
.b-rounded-br-4xl  { border-bottom-right-radius: var(--b-ref-radius-4xl) !important; }
.b-rounded-br-full { border-bottom-right-radius: var(--b-ref-radius-full) !important; }

/* ==========================================
   OUTLINE
   ========================================== */

/* Width */
.b-outline { outline-width: var(--b-ref-line-sm) !important; }
.b-outline-2 { outline-width: var(--b-ref-line-md) !important; }
.b-outline-3 { outline-width: var(--b-ref-line-lg) !important; }

/* Color */
.b-outline-inherit     { outline-color: inherit !important; }
.b-outline-transparent { outline-color: transparent !important; }
.b-outline-primary     { outline-color: var(--b-color-primary) !important; }
.b-outline-success     { outline-color: var(--b-color-success) !important; }
.b-outline-error       { outline-color: var(--b-color-error) !important; }
.b-outline-warning     { outline-color: var(--b-color-warning) !important; }
.b-outline-info        { outline-color: var(--b-color-info) !important; }

/* Style */
.b-outline-solid  { outline-style: solid !important; }
.b-outline-dashed { outline-style: dashed !important; }
.b-outline-dotted { outline-style: dotted !important; }
.b-outline-double { outline-style: double !important; }
.b-outline-none   { outline-style: none !important; }
.b-outline-hidden { outline: 2px solid transparent; outline-offset: 2px !important; }

/* Offset */
.b-outline-offset-0 { outline-offset: var(--b-ref-line-none) !important; }
.b-outline-offset-1 { outline-offset: var(--b-ref-line-sm) !important; }
.b-outline-offset-2 { outline-offset: var(--b-ref-line-md) !important; }
.b-outline-offset-3 { outline-offset: var(--b-ref-line-lg) !important; }