/* ==========================================
   EFFECTS
   ========================================== */

/* Opacity */
.b-opacity-0   { opacity: 0    !important; }
.b-opacity-25  { opacity: 0.25 !important; }
.b-opacity-50  { opacity: 0.5  !important; }
.b-opacity-75  { opacity: 0.75 !important; }
.b-opacity-100 { opacity: 0.1  !important; }