.b-badge {
    --b-badge-height:        var(--b-space-5);
    --b-badge-min-width:     var(--b-badge-height);
    --b-badge-padding-x:     var(--b-space-1);
    --b-badge-padding-y:     0;
    --b-badge-gap:           var(--b-space-2);

    --b-badge-border-width:  1px;
    --b-badge-border-style:  solid;
    --b-badge-border-color:  transparent;
    --b-badge-border-radius: var(--b-radius-interactive);

    --b-badge-background:    var(--b-primary-solid-background);

    --b-badge-color:         var(--b-primary-solid-text);
    --b-badge-font-size:     var(--b-font-size-xs);
    --b-badge-font-weight:   var(--b-font-weight-bold);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    vertical-align: middle;

    height: var(--b-badge-height);
    min-width: var(--b-badge-min-width);
    padding: var(--b-badge-padding-y) var(--b-badge-padding-x);
    gap: var(--b-badge-gap);

    border: var(--b-badge-border-width) var(--b-badge-border-style) var(--b-badge-border-color);
    border-radius: var(--b-badge-border-radius);
    background: var(--b-badge-background);

    font-size: var(--b-badge-font-size);
    font-weight: var(--b-badge-font-weight);
    line-height: var(--b-line-height-none);
    color: var(--b-badge-color);

    transition: all var(--b-duration-normal);
    box-sizing: border-box;
}

.b-badge:empty {
    padding: 0;
}

.b-badge--rounded {
    --b-badge-border-radius: var(--b-radius-full);
}

.b-badge--severity-primary   {
    --b-badge-background: var(--b-primary-solid-background);
    --b-badge-color:      var(--b-primary-solid-text);
}

.b-badge--severity-secondary {
    --b-badge-background: var(--b-secondary-solid-background);
    --b-badge-color:      var(--b-secondary-solid-text);
}

.b-badge--severity-info      {
    --b-badge-background: var(--b-info-solid-background);
    --b-badge-color:      var(--b-info-solid-text);
}

.b-badge--severity-success   {
    --b-badge-background: var(--b-success-solid-background);
    --b-badge-color:      var(--b-success-solid-text);
}

.b-badge--severity-warn      {
    --b-badge-background: var(--b-warning-solid-background);
    --b-badge-color:      var(--b-warning-solid-text);
}

.b-badge--severity-danger    {
    --b-badge-background: var(--b-error-solid-background);
    --b-badge-color:      var(--b-error-solid-text);
}

.b-badge--severity-contrast  {
    --b-badge-background: var(--b-contrast-solid-background);
    --b-badge-color:      var(--b-contrast-solid-text);
}

.b-badge--size-small  { --b-badge-height: var(--b-space-4); --b-badge-font-size: var(--b-font-size-xxs); }
.b-badge--size-medium { --b-badge-height: var(--b-space-5); --b-badge-font-size: var(--b-font-size-xs); }
.b-badge--size-large  { --b-badge-height: var(--b-space-6); --b-badge-font-size: var(--b-font-size-sm); }
.b-badge--size-xlarge { --b-badge-height: var(--b-space-7); --b-badge-font-size: var(--b-font-size-md); }