.b-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    vertical-align: middle;
    gap: var(--b-badge-gap);

    font-size: var(--b-badge-font-size);
    font-weight: var(--b-badge-font-weight);
    background: var(--b-badge-bg);

    height: var(--b-badge-height);
    min-width: var(--b-badge-height);

    padding: var(--b-badge-padding);

    border-radius: var(--b-badge-border-radius);
    transition: all var(--b-ref-duration-normal);
    box-sizing: border-box;

    color: var(--b-badge-color);
}

.b-badge--shape-circle {
    border-radius: var(--b-badge-border-radius-full);
}

.b-badge svg{
    width: calc(var(--b-badge-height) * 0.65);
    height: calc(var(--b-badge-height) * 0.65);
}

.b-badge--type-secondary { --b-badge-bg: var(--b-color-primary-muted); --b-badge-color: var(--b-text-muted); }
.b-badge--type-info { --b-badge-bg: var(--b-color-info); --b-badge-color: var(--b-text-muted); }
.b-badge--type-success { --b-badge-bg: var(--b-color-success); }
.b-badge--type-warn { --b-badge-bg: var(--b-color-warning); }
.b-badge--type-danger { --b-badge-bg: var(--b-color-error); }
.b-badge--type-contrast { --b-badge-bg: var(--b-text-main); }

.b-badge--size-small { --b-badge-height: var(--b-ref-space-4); --b-badge-font-size: var(--b-font-size-xxs); }
.b-badge--size-large { --b-badge-height: var(--b-ref-space-6); --b-badge-font-size: var(--b-font-size-sm); }
.b-badge--size-xlarge { --b-badge-height: var(--b-ref-space-7); --b-badge-font-size: var(--b-font-size-md); --b-badge-padding: var(--b-ref-space-2); }