/* Dimensions */
@import "./dimensions/aspect.css";
@import "./dimensions/breakpoints.css";
@import "./dimensions/elevation.css";
@import "./dimensions/fractions.css";
@import "./dimensions/lines.css";
@import "./dimensions/radius.css";
@import "./dimensions/sizing.css";
@import "./dimensions/spacing.css";

/* Behavior */
@import "./behavior/motion.css";
@import "./behavior/opacity.css";

/* Palettes */
@import "./palettes/emerald.css";
@import "./palettes/green.css";
@import "./palettes/lime.css";
@import "./palettes/teal.css";
@import "./palettes/cyan.css";
@import "./palettes/sky.css";
@import "./palettes/blue.css";
@import "./palettes/indigo.css";
@import "./palettes/red.css";
@import "./palettes/orange.css";
@import "./palettes/amber.css";
@import "./palettes/yellow.css";
@import "./palettes/violet.css";
@import "./palettes/purple.css";
@import "./palettes/fuchsia.css";
@import "./palettes/pink.css";
@import "./palettes/rose.css";
@import "./palettes/slate.css";
@import "./palettes/gray.css";
@import "./palettes/zinc.css";
@import "./palettes/neutral.css";
@import "./palettes/stone.css";
@import "./palettes/files.css";