.b-card {
    --b-card-background: var(--b-surface-section);
    --b-card-color:      var(--b-text-primary);

    --b-card-padding: var(--b-space-5);
    --b-card-gap:     var(--b-space-2);

    --b-card-title-font-size:   var(--b-font-size-xl);
    --b-card-title-font-weight: var(--b-font-weight-medium);
    --b-card-subtitle-color: var(--b-text-muted);

    --b-card-border-radius: var(--b-radius-container);
    --b-card-shadow:        var(--b-shadow-sm);

    display: flex;
    flex-direction: column;
    overflow: hidden;

    background: var(--b-card-background);
    color: var(--b-card-color);
    border-radius: var(--b-card-border-radius);
    box-shadow: var(--b-card-shadow);
}

.b-card__body {
    display: flex;
    flex-direction: column;
    gap: var(--b-card-gap);
    padding: var(--b-card-padding);
}

.b-card__title-group {
    display: flex;
    flex-direction: column;
    gap: var(--b-card-gap);
}

.b-card__title {
    font-size: var(--b-card-title-font-size);
    font-weight: var(--b-card-title-font-weight);
}

.b-card__subtitle {
    color: var(--b-card-subtitle-color);
}