.b-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--b-card-radius);
    border: 1px solid var(--b-card-border-color);
    background-color: var(--b-card-bg);
    transition: transform var(--b-ref-duration-normal), box-shadow var(--b-ref-duration-normal);
    overflow: hidden;

    backface-visibility: hidden;
    transform-style: preserve-3d;
    will-change: transform, box-shadow;
}

.b-card__header,
.b-card__body,
.b-card__footer {
    padding: var(--b-card-padding-y) var(--b-card-padding-x);
}

.b-card__header {
    display: flex;
    align-items: center;
}

.b-card__header-media img {
    width: 100%;
    height: auto;
    display: block;
}

.b-card__body {
    padding:var(--b-card-padding-y) var(--b-card-padding-x);
    display: flex;
    flex-direction: column;
    gap: var(--b-ref-space-3);
}

.b-card__title-group {
    display: flex;
    flex-direction: column;
    gap: var(--b-ref-space-1);
}

.b-card__title {
    font-size: var(--b-card-title-size);
    font-weight: var(--b-card-title-weight);
    color: var(--b-text-main);
    line-height: var(--b-line-height-tight);
}

.b-card__subtitle {
    font-size: var(--b-font-size-sm);
    color: var(--b-text-muted);
}

.b-card__content {
    font-size: var(--b-card-font-size);
    color: var(--b-card-content-color);
}

.b-card__footer {
    font-size: var(--b-card-font-size);
    padding: var(--b-card-padding-y) var(--b-card-padding-x);
    color: var(--b-card-content-color);
    padding-top: 0;
}

/* Remove padding */
.b-card__header + .b-card__body,
.b-card__body + .b-card__footer {
    padding-top: 0;
}

/* Shadows */
.b-card--shadow-always { box-shadow: var(--b-ref-shadow-md); }
.b-card--shadow-hover:hover {
    box-shadow: var(--b-ref-shadow-lg);
    transform: translateY(-1px);
}
.b-card--shadow-never { box-shadow: none; }

/* Sizes */
.b-card--size-md {
    --b-card-curr-x: var(--b-card-padding-x);
    --b-card-curr-y: var(--b-card-padding-y);
}
.b-card--size-sm {
    --b-card-curr-x: var(--b-ref-space-4);
    --b-card-curr-y: var(--b-ref-space-4);
}
.b-card--size-none {
    --b-card-curr-x: 0;
    --b-card-curr-y: 0;
}

/* Types */
.b-card--type-info {
    --b-card-bg: var(--b-color-info-muted);
    --b-card-border-color: var(--b-color-info);
    --b-card-content-color: var(--b-text-muted);
}