:where(html) {
    --b-ref-font-thin:       100;
    --b-ref-font-extralight: 200;
    --b-ref-font-light:      300;
    --b-ref-font-normal:     400;
    --b-ref-font-medium:     500;
    --b-ref-font-semibold:   600;
    --b-ref-font-bold:       700;
    --b-ref-font-extrabold:  800;
    --b-ref-font-black:      900;
}