:where(html) {
    --b-font-weight-thin:       100;
    --b-font-weight-extralight: 200;
    --b-font-weight-light:      300;
    --b-font-weight-normal:     400;
    --b-font-weight-medium:     500;
    --b-font-weight-semibold:   600;
    --b-font-weight-bold:       700;
    --b-font-weight-extrabold:  800;
    --b-font-weight-black:      900;
}