:where(html) {
    --b-ref-line-clamp-1:  1;
    --b-ref-line-clamp-2:  2;
    --b-ref-line-clamp-3:  3;
    --b-ref-line-clamp-4:  4;
    --b-ref-line-clamp-5:  5;
    --b-ref-line-clamp-10: 10;
    --b-ref-line-clamp-15: 15;
    --b-ref-line-clamp-20: 20;
}