@property --b-blur {
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}

:where(*) {
    --b-blur-xs:  4px;
    --b-blur-sm:  8px;
    --b-blur-md:  12px;
    --b-blur-lg:  16px;
    --b-blur-xl:  24px;
    --b-blur-2xl: 40px;
    --b-blur-3xl: 64px;
    --b-blur-none: 0px;
}