:where(html) {
    --b-ref-inset-shadow-color: #000000;
    --b-ref-inset-shadow-alpha-2xs: 5%;
    --b-ref-inset-shadow-alpha-xs:  5%;
    --b-ref-inset-shadow-alpha-sm:  5%;

    --b-ref-inset-shadow-none: inset 0 0 #0000;
    --b-ref-inset-shadow-2xs: inset 0 1px 0px 0 color-mix(in srgb, var(--b-ref-inset-shadow-color), transparent calc(100% - var(--b-ref-inset-shadow-alpha-2xs)));
    --b-ref-inset-shadow-xs:  inset 0 1px 1px 0 color-mix(in srgb, var(--b-ref-inset-shadow-color), transparent calc(100% - var(--b-ref-inset-shadow-alpha-xs)));
    --b-ref-inset-shadow-sm:  inset 0 2px 4px 0 color-mix(in srgb, var(--b-ref-inset-shadow-color), transparent calc(100% - var(--b-ref-inset-shadow-alpha-sm)));
}