@property --b-shadow-color-channels {
    syntax: "<number>+";
    inherits: true;
    initial-value: 0% 0 0;
}

:where(html) {
    --b-shadow-alpha-2xs: 5%;
    --b-shadow-alpha-xs:  5%;
    --b-shadow-alpha-sm:  10%;
    --b-shadow-alpha-md:  10%;
    --b-shadow-alpha-lg:  10%;
    --b-shadow-alpha-xl:  10%;
    --b-shadow-alpha-2xl: 25%;

    --b-shadow-none: 0 0 #0000;

    --b-shadow-2xs:
            0 1px 0px 0 oklch(var(--b-shadow-color-channels) / var(--b-shadow-alpha-2xs));

    --b-shadow-xs:
            0 1px 2px 0 oklch(var(--b-shadow-color-channels) / var(--b-shadow-alpha-xs));

    --b-shadow-sm:
            0 1px 3px 0 oklch(var(--b-shadow-color-channels) / var(--b-shadow-alpha-sm)),
            0 1px 2px -1px oklch(var(--b-shadow-color-channels) / var(--b-shadow-alpha-sm));

    --b-shadow-md:
            0 4px 6px -1px oklch(var(--b-shadow-color-channels) / var(--b-shadow-alpha-md)),
            0 2px 4px -2px oklch(var(--b-shadow-color-channels) / var(--b-shadow-alpha-md));

    --b-shadow-lg:
            0 10px 15px -3px oklch(var(--b-shadow-color-channels) / var(--b-shadow-alpha-lg)),
            0 4px 6px -4px oklch(var(--b-shadow-color-channels) / var(--b-shadow-alpha-lg));

    --b-shadow-xl:
            0 20px 25px -5px oklch(var(--b-shadow-color-channels) / var(--b-shadow-alpha-xl)),
            0 8px 10px -6px oklch(var(--b-shadow-color-channels) / var(--b-shadow-alpha-xl));

    --b-shadow-2xl:
            0 25px 50px -12px oklch(var(--b-shadow-color-channels) / var(--b-shadow-alpha-2xl));
}