:where(html) {
    /* RGB shadow color */
    --b-ref-shadow-rgb: 0 0 0;

    /* Opacity levels */
    --b-ref-shadow-alpha-2xs: 0.05;
    --b-ref-shadow-alpha-xs:  0.05;
    --b-ref-shadow-alpha-sm:  0.1;
    --b-ref-shadow-alpha-md:  0.1;
    --b-ref-shadow-alpha-lg:  0.1;
    --b-ref-shadow-alpha-xl:  0.1;
    --b-ref-shadow-alpha-2xl: 0.25;

    /* Shadow */
    --b-ref-shadow-none:
            0 0 #0000;
    --b-ref-shadow-2xs:
            0 1px rgb(var(--b-ref-shadow-rgb) / var(--b-ref-shadow-alpha-2xs));
    --b-ref-shadow-xs:
            0 1px 2px 0 rgb(var(--b-ref-shadow-rgb) / var(--b-ref-shadow-alpha-xs));
    --b-ref-shadow-sm:
            0 1px 3px 0 rgb(var(--b-ref-shadow-rgb) / var(--b-ref-shadow-alpha-sm)),
            0 1px 2px -1px rgb(var(--b-ref-shadow-rgb) / var(--b-ref-shadow-alpha-sm));
    --b-ref-shadow-md:
            0 4px 6px -1px rgb(var(--b-ref-shadow-rgb) / var(--b-ref-shadow-alpha-md)),
            0 2px 4px -2px rgb(var(--b-ref-shadow-rgb) / var(--b-ref-shadow-alpha-md));
    --b-ref-shadow-lg:
            0 10px 15px -3px rgb(var(--b-ref-shadow-rgb) / var(--b-ref-shadow-alpha-lg)),
            0 4px 6px -4px rgb(var(--b-ref-shadow-rgb) / var(--b-ref-shadow-alpha-lg));
    --b-ref-shadow-xl:
            0 20px 25px -5px rgb(var(--b-ref-shadow-rgb) / var(--b-ref-shadow-alpha-xl)),
            0 8px 10px -6px rgb(var(--b-ref-shadow-rgb) / var(--b-ref-shadow-alpha-xl));
    --b-ref-shadow-2xl:
            0 25px 50px -12px rgb(var(--b-ref-shadow-rgb) / var(--b-ref-shadow-alpha-2xl));
}