.b-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--b-ref-space-2);
    border: 1px solid transparent;
    border-radius: var(--b-button-radius);
    font-family: var(--b-font-family);
    font-weight: var(--b-button-font-weight);
    transition: var(--b-button-transition);
    cursor: pointer;
    outline: none;
    user-select: none;
}

.b-button svg,
.b-button [class*="icon"] {
    flex-shrink: 0;
    width: 1.25em;
    height: 1.25em;
    fill: currentColor;
}

.b-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.b-button--sm {
    padding: var(--b-ref-space-1) var(--b-ref-space-2);
    font-size: var(--b-font-size-sm);
}
.b-button--sm.b-button--square,
.b-button--sm.b-button--circle {
    height: var(--b-button-h-sm);
}

.b-button--md {
    padding: var(--b-ref-space-2) var(--b-ref-space-4);
    font-size: var(--b-font-size-md);
}

.b-button--md.b-button--square,
.b-button--md.b-button--circle {
    height: var(--b-button-h-md);
}

.b-button--lg {
    padding: var(--b-ref-space-3) var(--b-ref-space-6);
    font-size: var(--b-font-size-lg);
}

.b-button--lg.b-button--square,
.b-button--lg.b-button--circle {
    height: var(--b-button-h-lg);
}

/* Primary */
.b-button--primary {
    background-color: var(--b-button-primary-bg);
    color: var(--b-button-primary-text);
}

.b-button--primary:hover:not(:disabled) {
    background-color: var(--b-button-primary-hover);
}

/* Secondary */
.b-button--secondary {
    background-color: var(--b-button-secondary-bg);
    color: var(--b-button-secondary-text);
    border-color: var(--b-button-secondary-border);
}

.b-button--secondary:hover:not(:disabled) {
    background-color: var(--b-ref-neutral-100);
}

/* --- Shapes --- */
.b-button--rectangle {
    border-radius: var(--b-button-radius, var(--b-ref-radius-md));
    padding: var(--b-ref-space-2) var(--b-ref-space-4);
}

.b-button--square {
    border-radius: var(--b-button-radius, var(--b-ref-radius-md));
    padding: 0 !important; /* Прибираємо падінги, щоб спрацювали розміри */
    aspect-ratio: 1 / 1;    /* Робить кнопку ідеально квадратною */
}

.b-button--circle {
    border-radius: var(--b-ref-radius-full) !important;
    padding: 0 !important;
    aspect-ratio: 1 / 1;
}

[data-theme='dark'] .b-button--secondary:hover:not(:disabled) {
    background-color: var(--b-ref-neutral-700);
}