name: Deploy Documentation

on:
    push:
        branches: [main]
        paths:
            - 'packages/docs/**'
            - 'packages/components/**'
            - 'packages/icons/**'
            - 'packages/style/**'
            - 'scripts/**'
            - '.github/workflows/deploy-docs.yml'
    workflow_dispatch:

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: true

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Install pnpm
              uses: pnpm/action-setup@v3
              with:
                  version: 8

            - name: Set Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: 'pnpm'

            - name: Install dependencies
              run: pnpm install

            - name: Build Library & Docs
              run: |
                  pnpm build
                  
                  ls -R packages/icons/generated || echo "Folder not found"
                  
                  pnpm --filter @bestiary-ui/docs build

            - name: Setup Pages
              uses: actions/configure-pages@v4

            - name: Upload artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: packages/docs/.vitepress/dist

            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4